html, body {
    background-image: url('https://i.pinimg.com/originals/73/87/04/7387049b0389aadfa111e670929afb64.jpg');
    background-size: 1500px;
    background-color: #25360F;
    margin: 0;
    
.img {
 height: 300px;
 width: 300px;
 border: 5px solid black;
 object-fit: cover;
    
.img:hover {
  height: 500px;
  width: 500px;
  transition: transform 0.5s ease;
  transform: scale(1.1);
  object-fit: contain;
  border: none;
}

.box {
  max-width: 1300px;
  margin: 10px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns:200px auto;
}
a {
  color: #f7ebcf;
}

nav, main, footer {
  border: black 5px solid;
  padding: 20px;
  border-radius: 2px;
  font-family: serif;
  color: #f7ebcf;
}

header {
  grid-row: 1;
  grid-column: 1/3;
  text-align: center;
  background-image: url('https://files.catbox.moe/7sh7tv.png');
  height: 500px;
  
}

nav {
  grid-row: 2;
  grid-column: 1/3;
  background-color: #856F54;
  text-align: center;
  word-spacing: 200px;
  font-size: 50px;
  color: #F2E5D5;
}

main {
  grid-row: 3;
  grid-column: 1/3;
  background-color: #BFA582;
  font-size: 20px;
  color: #0D0D0D;
}

table, th, td {
  border: 2px solid black;
  padding: 10px;
  border-collapse: collapse;
}

footer {
  grid-row: 4;
  grid-column: 1/3;
  text-align: center;
  background-color: #4F402F;
  color: black;
  font-size: 20px;
}
